*{
    font-family: 'Patrick Hand', cursive;
}

.btn-twitter{
    background-color: #31a1f2;
    color: white;
}

a.btn-twitter:hover{
    color: white;
    box-shadow: -2px 3px 6px black;
}

/* GLOBAL */

body, html, .container, .row{
    height: 100vh;
}

.row{
    display: flex;
    align-items: center;
}

/*

    ESTILOS FORMULARIO

*/

div.col-lg-4
{
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, #34d7dd, #52bbbe) 1;
}

button.btn-success
{
    margin: 10px 0px;
    background-image: linear-gradient(to bottom, #38d6db, #59bbbe);
    border: 0;
}

div.form-group{
    margin: 10px auto;
}

/*

    ESTILOS TARJETA
    
*/

.col-lg-7 .card-header, .card-footer{
    background-image: linear-gradient(to right, #1bdae7, #55b1b8);
    color: rgb(0, 0, 0);
    font-size: 2000;
}

.card-body
{
    background-image: url('https://i.pinimg.com/236x/0a/5d/d6/0a5dd6df836a9d17dc9618b37b149b5c.jpg');
}

.card-content
{
    background-color: white;
    width: fit-content;
    margin: 5px auto;
    padding: 50px 20px;
    border: 10px solid rgb(51, 221, 221);
}

.card-content img
{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0px auto 25px auto;
}

.card-title
{
    font-weight: 700;
    background: linear-gradient(to bottom,#9259d3, #815883);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    font-size: 30px;
    text-align: center;
}

.Student
{
    font-weight: 700;
}

.Aprendido
{
    font-size: 20px;
}